*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img
{
	max-width:100%;

}

.container
{
	width: 80%;
	max-width: 1140px;
	margin: 5rem auto;
}

.slider
{
	position: relative;
	height: 500px;
	display: flex;
	box-shadow: 0 0 30px rgb(132, 132, 132);
}

button.revert
{
	padding: 0.25rem 0.5rem;
	margin: 1rem 0;
	border: none;
	background-color: rgb(255, 255, 255);
	color: white;
	border-radius: 1rem;
    padding: 10px;
    color: black;
cursor: pointer;

}
button.revert:hover
{
	padding: 0.25rem 0.5rem;
	margin: 1rem 0;
	border: none;

	background-color: rgb(80, 113, 244);
	color: rgb(0, 0, 0);
	border-radius: 1rem;
    padding: 10px;
    cursor: pointer;

}

button.prev,
button.next
{
	display: inline-block;
	border: none;
	background-color: rgb(255, 255, 255);
	width: auto;
	aspect-ratio: 1;
	border-radius: 50%;
padding: 10px;
	margin-right: 150px;

}
button.prev:hover,
button.next:hover
{
	display: inline-block;
	border: none;
    color: black;
	background-color:rgb(80, 113, 244);
	width: auto;
	aspect-ratio: 1;
	border-radius: 50%;
    cursor: pointer;

}

.controls
{
	position: absolute;
	right: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;

}

.slide
{
	position: relative;
	height: 100%;
}

.slide:not(.active)
{
	display: none;
}

.slide .text
{
	color: white;
	position: absolute;
	bottom: 1rem;
	text-align: end;
	padding: 1rem;
}

.slides,
.slides img
{
	height: 100%;
}

.slides img
{
	width: 100%;
	object-fit: cover;
}

.slides
{
	width: 70%;
}

.thumbs
{
	width: 30%;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.thumbs img
{
	height: 100px;
	object-fit: cover;
}

.thumbs img.active
{
	border: 4px inset black;
}

.thumbs img:not(.active)
{
	opacity: 0.5;
}
h2{
    margin-top: -100px;
    margin-left: 20px;
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: right;
}
p{
    margin-left: 20px; 
    color: white;
    margin-right: 20px;
    text-align: right;
}